table.results {
    border-collapse: collapse;
    border: 1px solid black;
}

table.results th, table.results td {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
}

table.results td {
    text-align: right;
}

table.results td.name {
    text-align: left;
}