img {
    behavior: url(/templates/pos/css/iepngfix.htc);
    border: none;
}

a img {
    border: none;
}

body {
    font-family:        Arial, sans-serif;
    font-size:          12px;
    text-align:         center;
    margin:             0px;
}

#page-wrapper {
    background-image:   url(../images/bg-page.png);
    width:              1000px;
    margin:             0px auto;
}

#page {
    width:              990px;
    margin:             0px auto;
    text-align:         left;
}

.pager {
    width:              840px;
}


#header {
    height:             107px;
}

#mainmenu {
    background-image:   url(../images/bg-mainmenu.png);
    height:             34px;
    margin-bottom:      1px;
}

#mainmenu ul {
    margin:             0px;
    padding:            0px;
    list-style:         none;
}

#mainmenu ul li {
    display:            block;
    margin:             0px;
    padding:            0px;
    float:              left;
    height:             34px;
}

#mainmenu ul li a {
    display:            block;
    height:             34px;
    text-align:         center;
    position:           relative;
    text-decoration:    none;
    color:              black;
    font-weight:        bold;
    font-size:          12px;
    background-position:top;
}

#mainmenu ul li a span img {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#mainmenu ul li a:hover {
    background-position:bottom;
}

#mainmenu ul li a span.text-menuitem {
    margin-top: 0px;
}

#mainmenu ul li a span {
    display:            block;
    margin-left: 4px;
    margin-right: 4px;
    /*padding-top: 3px;*/
    line-height: 30px;
    vertical-align: middle;
}

#mainmenu ul li.cyan a {
    background-image:   url(../images/bg-menuitem-cyan.png);
}

#mainmenu ul li.green a {
    background-image:   url(../images/bg-menuitem-green.png);
}

#mainmenu ul li.yellow a {
    background-image:   url(../images/bg-menuitem-yellow.png);
}

#mainmenu ul li.orange a {
    background-image:   url(../images/bg-menuitem-orange.png);
}

#mainmenu ul li.separator {
    background-image:   url(../images/bg-menuitem-separator.png);
    width:              2px;
    padding:            0px;
}

#mainmenu ul li.separator span {
    display:            none;
}

#footmenu {
    border-top:         1px solid #e0e9f4;
    background-color:   #bcd0e5;
}

#footmenu ul {
    padding:            0px;
    margin:             0px;
    list-style:         none;
}

#footmenu ul li {
    display:            block;
    width:              75px;
    float:              left;
}

#footmenu ul li a {
    display:            block;
    padding:            8px;
    text-decoration:    none;
    color:              black;
    text-align:         center;
    font-weight:        normal;
    font-size:          11px;
}

#footmenu ul li a:hover {
    background-color:   #97b4d3;
    color:              #e0e9f4;
}

#middle {
    /* blank */
}

#footer {
    background-image:   url(../images/bg-footer.png);
    background-repeat:  repeat-x;
    background-color:   #7a95af;
    font-size:          10px;
    color:              white;
    text-align:         center;
}

#main-column {
    width:              780px;
    float:              left;
}

#main-tables-wrapper {
    background-color:   #bbd0e4;
    background-image:   url(../images/bg-main-tables-top.png);
    background-position:top center;
    background-repeat:  repeat-x;
    border-bottom:      1px solid #8799ab;
}

#main-tables {
    background-color:   #cedcec;
    position:			relative;
}

ul#main-tables-years {
    margin:             0px;
    padding:            0px;
    list-style:         none;
    height:             32px;
}

ul#main-tables-years li {
    width:              60px;
    height:             32px;
    float:              left;
    background-image:   url(../images/bg-main-years-separator.png);
    background-position:bottom right;
    background-repeat:  no-repeat;
}

ul#main-tables-years li a {
    display:            block;
    font-size:          14px;
    font-weight:        normal;
    color:              #6085a8;
    text-decoration:    none;
    text-align:         center;
    padding-top:        9px;
}

ul#main-tables-years li a:hover {
    color:              #1f3e5b;
    font-weight:        bold;
}

ul#main-tables-years li a.selected {
    font-weight:        bold;
    font-size:          16px;
    color:              #1f3e5b;
    padding-top:        6px;
}

ul#main-tables-years li.active a {
    font-weight:        bold;
    font-size:          16px;
    color:              #1f3e5b;
    padding-top:        6px;
}

#right-column {
    background-color:   white;
    background-image:   url(../images/bg-right-column-top.png);
    background-position:top center;
    background-repeat:  repeat-x;
    width:              210px;
    float:              left;
}

#right-column h2 {
    font-size:          16px;
    font-weight:        bold;
    padding:            6px;
    padding-bottom:     2px;
    margin:             0px;
}

#right-column h3 {
    font-size:          14px;
    font-weight:        bold;
    margin:             0px;
    margin-top:         15px;
    margin-bottom:      5px;
    padding:            0px;
}

#right-column p {
    text-align:         justify;
}

.padding-10 {
    padding:            10px;
}

.padding-20 {
    padding:            20px;
}

.main-table-wrapper {
    background-color:   white;
    background-repeat:  repeat-x;
    background-position:center bottom;
}

.main-table-wrapper .tl {
    background-image:   url(../images/main-table/bg-tl.png);
    background-position:top left;
    background-repeat:  no-repeat;
}

.main-table-wrapper .tm {
    background-image:   url(../images/main-table/bg-tm.png);
    background-position:top;
    background-repeat:  repeat-x;
}

.main-table-wrapper .tr {
    background-image:   url(../images/main-table/bg-tr.png);
    background-position:top right;
    background-repeat:  no-repeat;
}

.main-table-wrapper .ml {
    background-image:   url(../images/main-table/bg-ml.png);
    background-position:left;
    background-repeat:  repeat-y;
}

.main-table-wrapper .mr {
    background-image:   url(../images/main-table/bg-mr.png);
    background-position:right;
    background-repeat:  repeat-y;
}

.main-table-wrapper .bl {
    background-image:   url(../images/main-table/bg-bl.png);
    background-position:bottom left;
    background-repeat:  no-repeat;
}

.main-table-wrapper .bm {
    background-image:   url(../images/main-table/bg-bm.png);
    background-position:bottom;
    background-repeat:  repeat-x;
}

.main-table-wrapper .br {
    background-image:   url(../images/main-table/bg-br.png);
    background-position:bottom right;
    background-repeat:  no-repeat;
}

.main-table-wrapper .content-wrapper {
    margin:             4px;
}

.main-table-wrapper .content {
}

.incomes h2, .outcomes h2, .debts h2, .interesting h2, .spendiverse h2 {
    padding:            0px;
    margin:             0px;
    margin-bottom:      5px;
    font-size:          16px;
    font-weight:        bold;
}

.incomes h2 {
    color:              #1f3e5b;
}

.incomes table.main-table td {
    font-weight:        bold;
    color:              #1f3e5b;
    border-bottom:      1px solid #1f3e5b;
}

.incomes table.main-table tr.header th {
    border-bottom:      2px solid #1f3e5b;
}

.incomes table.main-table tr.sum td {
    border-top:         2px solid #1f3e5b;
    border-bottom:      0px;
}

.outcomes h2 {
    color:              #ca3601;
}

.outcomes table.main-table td {
    font-weight:        bold;
    color:              #ca3601;
    border-bottom:      1px solid #ca3601;
}

.outcomes table.main-table tr.header th {
    border-bottom:      2px solid #ca3601;
}

.outcomes table.main-table tr.sum td {
    border-top:         2px solid #ca3601;
    border-bottom:      0px;
}

.debts h2 {
    color:              #661457;
}

.debts table.main-table td {
    font-weight:        bold;
    color:              #661457;
    border-bottom:      1px solid #661457;
}

.debts table.main-table tr.header th {
    border-bottom:      2px solid #661457;
}

.debts table.main-table tr.sum td {
    border-top:         2px solid #661457;
    border-bottom:      0px;
}

.interesting h2 {
    color:              #28650a;
}

.interesting table.main-table td {
    color:              #28650a;
    text-align:         center;
}

.interesting table.main-table tr.header th {
    border-bottom:      2px solid #28650a;
}

.interesting a {
    color:              #28650a;
    font-weight:        bold;
}

.spendiverse h2 {
    color:              black;
}

.spendiverse table.main-table td {
    color:              black;
}

.spendiverse table.main-table tr.header th {
    border-bottom:      2px solid black;
}

.spendiverse img {
    padding-top:        10px;
}

.spending h2 {
    color:              #ca3601;
}

.spending table.main-table td {
    border-bottom:      1px solid #ca3601;
    text-align:         left;
}

.spending table.main-table tr.header td select {
    font-size:          10px;
}

.spending table.main-table td a {
    color:              #ca3601;
    font-weight:        bold;
    text-align:         left;
    text-decoration:    none;
}

.spending table.main-table tr.hl-red {
    background-color:   #ffe3e3;
}

.spending table.main-table tr.hl-blue {
    background-color:   #e3f0ff;
}

.spending table.main-table tr.hl-blue td a {
    color:              #153a69;
}

.spending table.main-table tr.header th {
    border-bottom:      2px solid #ca3601;
    text-align:         left;
}

.spending table.main-table tr.sortable-header th {
    background-color:   #ca3601;
    border-top:         1px solid #d27352;
    border-left:        1px solid #d27352;
    border-right:       1px solid #912600;
    border-bottom:      1px solid #912600;
    color:              white;
}

.spending table.main-table tr.sortable-header th img.sort-arrow {
    position:           relative;
    top:                -1px;
    left:               +2px;
}

.spending table.main-table tr.sortable-header th a {
    color:              white;
}

.spending table.main-table tr.sum td {
    border-top:         2px solid #ca3601;
    border-bottom:      0px;
    text-align:         center;
    font-weight:        bold;
    color:              #ca3601;
    font-size:          16px;
}

table.main-table td.main a {
    color:              black;
    text-decoration:    none;
}

.daily-number h2 {
    text-align:         center;
    color:              #1f3e5b;
}

.daily-number img {
    margin-bottom:      10px;
}

table.main-table {
    font-size:          12px;
}

table.main-table td {
    text-align:         right;
}

table.main-table td.sub {
    text-align:         left;
    padding-left:       10px;
    font-weight:        normal;
    color:              black;
}

table.main-table tr.level2 td {
    font-size:          11px;
}

table.main-table tr.level2 td.sub {
    padding-left:       20px;
}

table.main-table tr.sum td {
    font-size:          14px;
}

table.main-table tr.sum td.main {
    font-size:          14px;
}

table.main-table tr.footer td {
    border:             0px;
    font-weight:        normal;
}

table.main-table tr.footer td a {
    color:              black;
}
    
table.main-table td {
    text-align:         right;
}

table.main-table th h2 {
    text-align:         left;
}

table.main-table td.main {
    text-align:         left;
    color:              black;
}

table.main-table tr.header th {
    font-size:          10px;
    text-align:         right;
}

table.main-table tr.header th.centerize {
    font-size:          10px;
    text-align:         center;
}

#partners {
    padding:            10px;
}

.text h2 {
    padding:            0px;
    margin:             0px;
    margin-bottom:      5px;
    font-size:          16px;
    font-weight:        bold;
}

.quadrants {
    width:              780px;
}

.quadrant {
    width:              390px;
    float:              left;
}

.inner-tables .inner-left {
    float:              left;
    width:              170px;
}

.inner-tables .inner-right {
    float:              right;
    width:              820px;
}

.inner-tables .inner-right h1 {
    font-size:          24px;
    font-weight:        normal;
    padding:            15px;
    padding-top:        5px;
    padding-bottom:     5px;
    margin:             0px;
    color:              #1f3e5b;
}

ul.inner-menu {
    list-style:         none;
    margin:             0px;
    padding:            0px;
    margin-top:         50px;
}

ul.inner-menu ul {
    margin-top:         0px;
    margin-left:        15px;
}

ul.inner-menu li {
    padding:            0px;
    margin:             0px;
}

ul.inner-menu li.back-button {
    margin-bottom:      10px;
}

ul.inner-menu li a {
    display:            block;
    padding:            4px;
    color:              #6085a8;
    text-decoration:    none;
    margin:             0px;
    padding-left:       14px;

    background-image:   url(../images/bg-innermenu-separator.gif);
    background-repeat:  no-repeat;
    background-position:left center;
}

ul.inner-menu li a.link-collapsed {
    background-image:   url(../images/bg-innermenu-separator-link-collapsed.gif);
    background-repeat:  no-repeat;
    background-position:left center;
}

ul.inner-menu li a.link-expanded {
    font-weight:        bold;
    background-image:   url(../images/bg-innermenu-separator-link-expanded.gif);
    background-repeat:  no-repeat;
    background-position:left center;
}

ul.inner-menu li.back-button a {
    color:              #1f3e5b;
    font-size:          14px;
    font-weight:        bold;
    padding-left:       4px;
    
    background-image:   url(../images/bg-innermenu-separator-back.gif);
    background-position:left bottom;
}

ul.inner-menu li.back-button a:hover {
    background-color:   #e5ebf3;
    text-decoration:    none;
}

ul.inner-menu li a.selected {
    color:              #1f3e5b;
    font-weight:        bold;
}

ul.inner-menu li a:hover {
    color:              #1f3e5b;
    text-decoration:    underline;
}

ul.inner-menu li a.selected:hover {
    color:              #1f3e5b;
}

.inner-right .main-table-wrapper table.main-table {
    float:              left;
}

.table-description {
    width:              205px; 
    margin-left:        10px; 
    float:              left; 
}

.textual h1 {
    font-size:          24px;
    font-weight:        normal;
    padding:            15px;
    padding-top:        5px;
    padding-bottom:     5px;
    margin:             0px;
    color:              #1f3e5b;
}

table.tip-table {
    border:             0px;
}

table.tip-table td {
    border:             0px;
    font-weight:        normal;
}

.flags {
    padding-top:        57px;
    padding-right:      10px;
    float:              right;
}

.flags img {
    border:             1px solid #f5eff0;
    margin-left:        5px;
}

table.calc-table th {
    font-size:          16px;
}

input.button {
    padding:            6px;
    padding-left:       12px;
    padding-right:      12px;
    font-weight:        bold;
    font-size:          14px;
    color:              black;
    background-image:   url(../images/bg-button.png);
    background-repeat:  repeat-x;
    border-top:         1px solid #f1f5f9;
    border-left:        1px solid #dae4f1;
    border-right:       1px solid #636c76;
    border-bottom:      1px solid #2b2f34;
}

a.button {
    padding:            6px;
    padding-left:       12px;
    padding-right:      12px;
    font-weight:        bold;
    font-size:          14px;
    color:              black;
    background-image:   url(../images/bg-button.png);
    background-repeat:  repeat-x;
    border-top:         1px solid #f1f5f9;
    border-left:        1px solid #dae4f1;
    border-right:       1px solid #636c76;
    border-bottom:      1px solid #2b2f34;
}

a:hover.button {
    text-decoration: none;
}

p {
    padding:            0px;
    margin:             0px;
    margin-bottom:      0.5em;
}

.content a {
    color:              #6085a8;
    text-decoration:    none;
}

.content {
}

.content a:hover {
    color:              black;
    text-decoration:    underline;
}

.cb {
    clear:              both;
    font-size:          0px;
    height:             0px;
}

ul.actions {
	display: inline;
}
ul.actions li {
	display: inline;
	margin: 0 0px 0 5px;
}
